div.discover-title
  h1 Discover Daily Art
div.discover-menu
  div.discover-menu-wrapper
    span.discover-order-recent#discover-order-recent R e c e n t
    span |
    span.discover-order-trend#discover-order-trend T r e n d
div.discover-content
  if posts.length > 0
    for post in posts
      .discover-content-box
        .discover-content-box-header
          a(href=`/profile/${post.author_username}`)
            img.box-header-avatar(src=`${post.author_photolink}`)
          .box-header-id
            a(href=`/profile/${post.author_username}`)
              span @#{post.author_username}
            if user && (post.author_id !== user.id)
              if user.follow && user.follow[post.author_id]
                div.follow-status now following
                img.box-header-follow(src='/images/board/check.png' class=`${post.author_id}` id=`follow-btn-${post.author_id}`)
              else
                div.follow-status(style='background : red') not followed
                img.box-header-follow(src='/images/board/plus.svg' class=`${post.author_id}` id=`follow-btn-${post.author_id}`)
          .box-header-time#box-header-time
          input.post-created-time(type='hidden' value= post.created_date)
        .discover-content-box-body
          a.disdover-content-link(href=`/contents/${post.post_id}`)
            img.box-body-img(src=`${post.photo_link}`)
          .box-body-content #{post.content}
        .discover-content-box-bottom
          div.box-icon-box
            img.box-bottom-see(src='/images/board/see.png')
          div.box-icon-box
            p.box-see-couint #{post.view_count}
          div.box-icon-box
            img.box-bottom-comment(src='/images/board/comment.png')
          div.box-icon-box
            p.box-comment-count #{post.comment_count}
          div.box-icon-box
            input.post-number(type='hidden' value= `${post.post_id}`)
            if user && user.like && user.like[post.post_id]
              img.box-bottom-like(src='/images/board/fill-like.png')
            else
              img.box-bottom-like(src='/images/board/like.png')
          div.box-icon-box
            p.box-like-count #{post.like_count}
div.discover-more-content More Content