div.discover-title
  h1 My Friend's Art
div.discover-menu
  div.discover-menu-wrapper 같은 취향, 우린 친구군요
if posts.length === 0
  p.discover-empty 취향이 맞는 친구를 follow 해보세요
div.discover-content
  if posts.length > 0
    for post in posts
      .discover-content-box
        .discover-content-box-header
          a(href=`/profile/${post.author_username}`)
            img.box-header-avatar(src=`${post.author_photolink}`)
          .box-header-id
            a(href=`/profile/${post.author_username}`) @#{post.author_username}
            if user && (post.author_id !== user.id)
              if user.follow && user.follow[post.author_id]
                div.follow-status now following
                img.box-header-follow(src='/images/board/check.png' class=`${post.author_id}` id=`follow-btn-${post.author_id}`)
              else
                div.follow-status(style='background : red') not followed
                img.box-header-follow(src='/images/board/plus.svg' class=`${post.author_id}` id=`follow-btn-${post.author_id}`)
          .box-header-time#box-header-time
          input.post-created-time(type='hidden' value=`${post.post_created_Date}`)
        .discover-content-box-body
          a.disdover-content-link(href=`/contents/${post.post_id}`)
            img.box-body-img(src=`${post.post_photolink}`)
          .box-body-content #{post.post_content}
        .discover-content-box-bottom
          div.box-icon-box
            img.box-bottom-see(src='/images/board/see.png')
          div.box-icon-box
            p.box-see-couint #{post.post_view_count}
          div.box-icon-box
            img.box-bottom-comment(src='/images/board/comment.png')
          div.box-icon-box
            p.box-comment-count #{post.post_comment_count}
          div.box-icon-box
            input.post-number(type='hidden' value= `${post.post_id}`)
            if user && user.like && user.like[post.post_id]
              img.box-bottom-like(src='/images/board/fill-like.png')
            else
              img.box-bottom-like(src='/images/board/like.png')
          div.box-icon-box
            p.box-like-count #{post.post_like_count}
if posts.length > 0
  div.discover-more-content More Content