.main-grid
  for post in posts
    .grid-item
      a.main-content-link(href=`/contents/${post.post_id}`)
        img(src=`${post.photo_link}`)
        div.img-overlay
          div.img-text= `@${post.username}`
          div.img-like
            img(src='/images/board/fill-like.png')
            p= post.like_count
          div.img-text-content= post.content