div.profile-info-wrapper#profile-info-wrapper
  .profile-photo
    .profile-photo-area
      img(src=author.photo_link || '/images/profile_dummy.png')
  .profile-info
    .profile-info-username
      p @#{author.username}
    .profile-info-content.profile-info-lcoation
      p #{author.location || 'location info is empty'}
    hr.info-line
    .profile-info-content.profile-info-meta
      .profile-info-meta-posts
        p.meta-number #{author.info.post_count}
        p.meta-title Posts
      .profile-info-meta-followings
        p.meta-number #{author.info.following_count}
        p.meta-title Followings
      .profile-info-meta-followers
        p.meta-number #{author.info.follower_count}
        p.meta-title Followers
      .profile-info-meta-likes
        a(href=`/users/${author.username}/likes`)
          p.meta-number #{author.info.like_count}
          p.meta-title Likes
    hr.info-line
    .profile-info-content.profile-info-bio
        p #{author.indroduction || 'Bio info is empty'}
  if user && (user.id === author.id)
    a.profile-settings(href=`/users/settings/${author.id}`) Settings
hr.wrapper-line
div.discover-content
  if posts.length > 0
    for post in posts
      .discover-content-box
        .discover-content-box-header
          a(href=`/profile/${author.username}`)
            img.box-header-avatar(src=`${author.photo_link}`)
          .box-header-id
            span @#{author.username}
          .box-header-time#box-header-time
          input.post-created-time(type='hidden' value= post.CREATED_DATE)
        .discover-content-box-body
          a.disdover-content-link(href=`/contents/${post.ID}`)
            img.box-body-img(src=`${post.PHOTO_LINK}`)
          .box-body-content #{post.CONTENT}
        .discover-content-box-bottom
          div.box-icon-box
            img.box-bottom-see(src='/images/board/see.png')
          div.box-icon-box
            p.box-see-couint #{post.VIEW_COUNT}
          div.box-icon-box
            img.box-bottom-comment(src='/images/board/comment.png')
          div.box-icon-box
            p.box-comment-count #{post.COMMENT_COUNT}
          div.box-icon-box
            input.post-number(type='hidden' value=`${post.ID}`)
            if user && user.like && user.like[post.ID]
              img.box-bottom-like(src='/images/board/fill-like.png')
            else
              img.box-bottom-like(src='/images/board/like.png')
          div.box-icon-box
            p.box-like-count #{post.LIKE_COUNT}
