div.profile-info-wrapper#profile-info-wrapper
  .profile-photo
    .profile-photo-area
      img(src=author.profilePhoto || '/images/profile_dummy.png')
  .profile-info
    .profile-info-username
      p @#{author.username}
    .profile-info-content.profile-info-lcoation
      p #{author.location || 'location info is empty'}
    hr.info-line
    .profile-info-content.profile-info-meta
      .profile-info-meta-posts
        p.meta-number #{author.posts.length}
        p.meta-title Posts
      .profile-info-meta-followings
        p.meta-number #{author.followings.size}
        p.meta-title Followings
      .profile-info-meta-followers
        p.meta-number #{author.followers.size}
        p.meta-title Followers
      .profile-info-meta-likes
        if author.likePosts
          a(href=`/users/${author.username}/likes`)
            p.meta-number #{author.likePosts.size}
            p.meta-title Likes
        else
          p.meta-number 0
          p.meta-title Likes
    hr.info-line
    .profile-info-content.profile-info-bio
        p #{author.bio || 'Bio info is empty'}
  if user && (user.username === requestUser)
    a.profile-settings(href='/users/settings') Settings
hr.wrapper-line
div.discover-content
  if author.posts.length > 0
    for post in posts
      .discover-content-box
        .discover-content-box-header
          a(href=`/profile/${author.username}`)
            img.box-header-avatar(src=`${post.author.profilePhoto}`)
          .box-header-id
            span @#{post.author.username}
            if user && (`${post.author._id}` !== `${user._id}`)
              img.box-header-plus(src='/images/board/plus.svg')
          .box-header-time#box-header-time
          input.post-created-time(type='hidden' value=`${post.createdDate}`)
        .discover-content-box-body
          a.disdover-content-link(href=`/contents/${post._id}`)
            img.box-body-img(src=`${post.photo[0]}`)
          .box-body-content #{post.content}
        .discover-content-box-bottom
          div.box-icon-box
            img.box-bottom-see(src='/images/board/see.png')
          div.box-icon-box
            p.box-see-couint #{post.meta.views}
          div.box-icon-box
            img.box-bottom-comment(src='/images/board/comment.png')
          div.box-icon-box
            p.box-comment-count #{post.meta.comments}
          div.box-icon-box
            input.post-number(type='hidden' value=`${post._id}`)
            if user && user.likePosts.has(`${post._id}`)
              img.box-bottom-like(src='/images/board/fill-like.png')
            else
              img.box-bottom-like(src='/images/board/like.png')
          div.box-icon-box
            p.box-like-count #{post.meta.likes}
